.about h1{
    color: rgb(184, 223, 95);
}

.container{
    display: flex;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 6rem;
  }
  
  .img1{
    max-width: 50%;
  }
  
  .img-col{
    flex-basis: 50%;
  }