.container2 {
  margin-top: 1%;
  margin-bottom: auto;
}

.container2 p {
  text-align: left;
  width: 50%;
  color: white;
  padding-left: 10%;
  padding-right: auto;
}

.container2 h1 {
  color: rgb(184, 223, 95);
  margin-left: 10%;
  margin-right: auto;
}

.container2 button {
 margin-left: 10%;
 margin-right: auto;
 background-color: rgb(184, 223, 95);
}

.img2 {
  max-width: 30%;
  float: right;
  margin-left: auto;
  margin-right: 10%;
  margin-top: auto;
  margin-bottom: 10%;
  border: 10px solid #555;
}