.aboutn h1{
  color: rgb(184, 223, 95);
}

.container2 {
display: flex;
margin: .2in;
padding-top: .65in;
align-items: center;


}
.container2>leftside2{
flex: 0.5;
}

.container2>img2{
flex: 0.5;
}
.container2 p {
text-align: left;
color: white;
padding-left: 10%;
padding-right: auto;
}

.container2 h1 {
color: rgb(184, 223, 95);
margin-left: 10%;
margin-right: auto;
}

.container2 button {
margin-left: 10%;
margin-right: auto;
background-color: rgb(184, 223, 95);
}
.leftside2{
margin-right: 3%;
}

.img2{
margin-right: 5%;
max-width: 40%;
}

