h1 button, img {
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }

  img {
    align: "right";
    max-width: 50%;
    height: auto;
  }

