.pic {
    height: 20vmin;
    min-width: 10vmin;
    display: flex;
}
.th1{
    margin-top: .75in;
    margin-bottom: -.5in;
    text-align: center;
}

.Tcontainer{
    padding: 5%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 60%);
}

.Tcontainer p, h3 {
    color: rgb(184, 223, 95);
}

.Tcontainer p {
    color: white;
}
.members{
    padding-left: 20%;
    padding-right: 40%;
}

