
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}  

.App{
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #4060ac;
}

.semi-circle
  {
    position: relative;
    width: 1920px;

    background: #4060ac;
  }

h1
{
  color: aliceblue;
}