table, th, td {
    border: 1px solid;
  }

  table{
    justify-items: center;
    position: center;
    margin-top: 0%;
    margin-left: 10%;
  }

  td{
    size: 20;
    padding: 10px;
  }

.charities h2{
  color: white;
  margin-top: .75in;
  text-align: center;
  padding-bottom: .4in;

}

.charities p{
  color: rgb(238, 227, 227);
  align-items: center;
}

